[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"
python-language-server = "*"
ipdb = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
cython = "*"
scikit-learn = {editable = true, git = "git://github.com/scikit-learn/scikit-learn.git", ref = "5a9ce9fe3fe6cdf2574f0142e3f38698155f707a"}
sleepmind = {path = ".", editable = true}
gensim = "*"

[requires]
python_version = "3.6"
